.content{
    background: var(--cor-6) ;
    padding: 20px 0 80px;
}

.content h3{
    color: var(--cor-5);
    font-size: 21px;
    padding-top: 40px;
    font-weight: 500;
}

.content p{
    color: var(--cor-7);
    font-size: 14px;
    word-spacing: 3px;
}

@media(min-width:1024px){
    .content .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}