.hero{
    height: 80vh;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat, 
                linear-gradient(-45deg,white  50%,  transparent 50%) left calc(50% - 20px) bottom no-repeat, 
                url(../img/01.jpg);
    background-size: 40px 40px,40px 40px, cover;
}
.hero__title{
    background-color: var(--cor-1);
    color: var(--cor-0);
    font-size: 28px;
    padding: 36px 20px;
}
.hero__text{
    background-color: var(--cor-4);
    margin: 5px 30px 35px;
    color: var(--cor-0);
    padding: 20px;
    font-size: 16px;
}
.hero__btn{
    border: 1px solid rgba(255,255,255,.3);
    background-color: rgba(0,0,0,.2);
    border-radius:5px;
    padding: 15px 25px;
    color: var(--cor-0);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}