.laptop-slider{
    background-color: var(--cor-2);
    padding: 125px 0 100px;
    width: 100% ;
    overflow: auto;
}
.slideshow{
    white-space:nowrap;
}
.slideshow figure{
    display: inline-block;
}
